.mainWrap {
  width: 500px;
  height: auto;
  border: solid green 5px;
  margin-left: auto;
  margin-right: auto;
  background-color: blueviolet;
}

textarea {
  width: 99%;
  display: block;
}

button {
  width: 100%;
  height: auto;
  font-size: large;
  color: violet;
  border: 2px solid chartreuse;
}

